
     <footer>
        <div class="fi_nfo">
            <div class="fi_nfo_social">
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-square-facebook"></i>
                <i class="fa-brands fa-linkedin"></i>
            </div>
            <div class="ftext">WanderLust private limited</div>
            <div class="f_info_links">
                <a href="#">Privacy</a>
                <a href="#">terms</a>
            </div>
        </div>
    </footer>
