<div class="slide-con col-8 offset-2">

    <div class="slide-ele">
        <b>
        <p><i class="fa-solid fa-bed"></i></p>
        <p>Trending Rooms</p>
        </b>
    </div>

    <div class="slide-ele">
        <b>
        <p><i class="fa-solid fa-city"></i></p>
        <p>Iconic city</p>
        </b>
    </div>

    <div class="slide-ele">
        <b>
        <p><i class="fa-solid fa-mountain-sun"></i></p>
        <p>Hill stations</p>
        </b>
    </div>

    <div class="slide-ele">
        <b>
        <p><i class="fa-brands fa-fort-awesome"></i></p>
        <p>Castles</p>
        </b>
    </div>

    <div class="slide-ele">
        <b>
        <p><i class="fa-solid fa-person-swimming"></i></p>
        <p>Amazing pools</p>
        </b>
    </div>
    <div class="slide-ele">
        <b>
        <p><i class="fa-solid fa-tree-city"></i></p>
        <p>Amazing towns</p>
        </b>
    </div>
    
    <div class="slide-ele">
        <b>
        <p><i class="fa-solid fa-tent"></i></p>
        <p>Camping</p>
        </b>
    </div>

    <div class="slide-ele">
        <b>
        <p><i class="fa-solid fa-tractor"></i></p>
        <p>Farms</p>
        </b>
    </div>

    <div class="slide-ele">
        <b>
        <p><i class="fa-solid fa-igloo"></i></p>
        <p>Arctic</p>
        </b>
    </div>

</div>